<?xml version="1.0"?>
<launch>
    
    <param name="/use_sim_time" value="true"/>

    <!-- ========== Stage Simulation ========== -->
    <node name="stage" pkg="stage_ros" type="stageros" args="$(find harmonic_potential)/worlds/single_line_obstacles_pioneer_3dx.world"/>
    
    <!-- ========== Robot Model ========== -->
    <arg name="model" default="$(find p3dx_description)/urdf/pioneer3dx.xml"/>
    <arg name="gui" default="False" />
    <param name="robot_description" textfile="$(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">    
    	<param name="publish_frequency" value="30.0"/>
    	<param name="tf_prefix" value=""/>
  	</node>    

    <!-- ========== Map ========== -->
    <node name="map" pkg="map_server" type="map_server" args="$(find harmonic_potential)/maps/single_line.yaml"/>

    <!-- ========== Localization ========== -->
    <node name="localization" pkg="fake_localization" type="fake_localization" respawn="false" output="screen">
        <remap from="base_pose_ground_truth" to="base_pose_ground_truth"/>
        
        <param name="odom_frame_id"     value="odom"/>
        <param name="base_frame_id"     value="base_link"/>
        <param name="global_frame_id"   value="/map"/>
    </node> 

    <!-- ========== Cost Map and Path Planning ========== -->
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <rosparam file="$(find harmonic_potential)/param/costmap_common_params_p3dx.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find harmonic_potential)/param/costmap_common_params_p3dx.yaml" command="load" ns="local_costmap"/>        
        <rosparam file="$(find harmonic_potential)/param/global_costmap_params.yaml" command="load" />        
        <rosparam file="$(find harmonic_potential)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find harmonic_potential)/param/local_planner_params.yaml" command="load" />
        <rosparam file="$(find harmonic_potential)/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find harmonic_potential)/param/global_planner_params.yaml" command="load" />
    
        <param name="global_costmap/global_frame"       value="map"/>
        <param name="global_costmap/robot_base_frame"   value="base_footprint"/>
        <param name="local_costmap/global_frame"        value="odom"/>
        <param name="local_costmap/robot_base_frame"    value="base_footprint"/>
    </node>  
    
    <!-- ========== Visualisation ========== -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find harmonic_potential)/rviz/robot_navigation.rviz"/>    
    
</launch>
