<?xml version="1.0"?>
<launch>
    
    <param name="/use_sim_time" value="true"/>

    <!-- ========== Stage Simulation ========== -->
    <node name="stage" pkg="stage_ros" type="stageros" args="$(find harmonic_potential)/worlds/single_line_pioneer_3dx.world"/>
    
    <!-- ========== Robot Model ========== -->
    <arg name="model" default="$(find p3dx_description)/urdf/pioneer3dx.xml"/>
    <arg name="gui" default="False" />
    <param name="robot_description" textfile="$(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">    
    	<param name="publish_frequency" value="30.0"/>
    	<param name="tf_prefix" value=""/>
  	</node>    

    <!-- ========== Map ========== -->
    <node name="map" pkg="map_server" type="map_server" args="$(find harmonic_potential)/maps/single_line.yaml"/>

    <!-- ========== Localization ========== -->
    <node name="localization" pkg="fake_localization" type="fake_localization" respawn="false" output="screen">
        <remap from="base_pose_ground_truth" to="base_pose_ground_truth"/>
        
        <param name="odom_frame_id"     value="odom"/>
        <param name="base_frame_id"     value="base_link"/>
        <param name="global_frame_id"   value="/map"/>
    </node> 

    <!-- Run the costmap node -->
    <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen">
        <rosparam file="$(find harmonic_potential)/param/example_params.yaml" command="load" ns="costmap" />
    </node>

</launch>
